
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<li>@Html.ActionLink("Donate Item", "Index", "DonateItems")</li>
<li>@Html.ActionLink("Donate Money", "Index", "DonateMoneys")</li>
<li>@Html.ActionLink("Help", "Index", "Helps")</li>
<li>@Html.ActionLink("Complain", "Index", "Complains")</li>
