@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vadodara Institute of Engineering<br />
    Kotambi<br />
    <abbr title="Phone">P:</abbr>
    111.222.3333
</address>
