@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>We Care For Your Child</h1>
    <p class="lead">Where there is charity and wisdom, there is neither fear nor ignorance.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Donate Foods</h2>
        <p>
            
        </p>
        <p><img src="~/Content/Images/food.jpg" width="300"></p>
    </div>
    <div class="col-md-4">
        <h2>Donate Money</h2>
        <p><img src="~/Content/Images/Money.jpg" width="300" ></p>    </div>
    <div class="col-md-4">
        <h2>Ask For Help</h2>
        <p><img src="~/Content/Images/Help.jpg" width="310"></p>    </div>
</div>